/* content_scss Starts here */
.integrator-wrapper .content-wrapper {
  padding: 4.6875rem 0;
}
.integrator-wrapper .top-banner {
  flex-wrap: wrap;
}
.integrator-wrapper .top-banner h1 {
  color: #ffffff;
}
.integrator-wrapper .top-banner .left {
  display: flex;
  align-items: center;
}
@media (max-width: 61.99875rem) {
  .integrator-wrapper .top-banner .left {
    text-align: center;
    margin-bottom: 2rem;
  }
}
.integrator-wrapper .top-banner .right img {
  width: 100%;
}
.integrator-wrapper .under-banner {
  padding: 5rem 9rem;
  padding-bottom: 3rem;
}
@media (max-width: 61.99875rem) {
  .integrator-wrapper .under-banner {
    padding: 5rem 0;
    padding-bottom: 3rem;
  }
}
.integrator-wrapper .under-banner h3 {
  font-family: "Maven Pro", sans-serif;
}
.integrator-wrapper .cretificate-box-block {
  margin-bottom: 5.625rem;
}
.integrator-wrapper .cretificate-box-block .card {
  background-color: transparent;
  border: 0;
}
.integrator-wrapper .cretificate-box-block .card .card-body {
  background: #191c25;
  padding: 5.125rem 6.25rem;
}
@media (max-width: 61.99875rem) {
  .integrator-wrapper .cretificate-box-block .card .card-body {
    padding: 2.125rem 1rem;
  }
  .integrator-wrapper .cretificate-box-block .card .card-body:first-child {
    padding-top: 5.125rem;
  }
}
.integrator-wrapper .cretificate-box-block .card .card-body .card-title {
  font-size: 0.875rem;
  font-weight: 800;
}
.integrator-wrapper .cretificate-box-block .card .card-body ul {
  margin-top: 2.4rem;
}
.integrator-wrapper .cretificate-box-block .card .card-body ul li {
  display: inline-flex;
  color: #989898;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.integrator-wrapper .cretificate-box-block .card .card-body ul li .oi {
  font-size: 1.0625rem;
  margin-right: 1.25rem;
}
.integrator-wrapper
  .cretificate-box-block
  .card.cretificate-box-left
  ul
  li
  .oi {
  color: #a6e42b;
}
.integrator-wrapper
  .cretificate-box-block
  .card.cretificate-box-right
  ul
  li
  .oi {
  color: #ff6d4a;
}

.integrator-wrapper .how-work-block h3 {
  margin-bottom: 4.7rem;
}
.integrator-wrapper .how-work-block .hwb-box {
  padding: 0 4.2rem;
}
.integrator-wrapper .how-work-block .hwb-box .hwb-img {
  max-width: 2.9375rem;
  max-height: 2.9375rem;
}
.integrator-wrapper .how-work-block .hwb-box h4 {
  margin-top: 1.2rem;
}
.integrator-wrapper .how-work-block .hwb-box .small-text {
  font-size: 1rem;
  line-height: 1.75rem;
}
.integrator-wrapper .product-block {
  margin-top: 5.25rem;
}
.integrator-wrapper .product-block .pb-left {
  margin-top: 4.62rem;
}
.integrator-wrapper .product-block .pb-left h2 {
  font-size: 2.625rem;
}
.integrator-wrapper .product-block .pb-left .small-text {
  margin-top: 5.25rem;
  margin-bottom: 8.5625rem;
  position: relative;
  max-width: 11.875rem;
  line-height: 1.75rem;
}
.integrator-wrapper .product-block .pb-left .small-line {
  content: "";
  height: 0.0625rem;
  width: 10.3125rem;
  background: #323c47;
}
.integrator-wrapper .product-block .pb-left img {
  max-width: 1.5625rem;
  margin-top: 1.875rem;
  float: left;
  margin-right: 1.375rem;
}
.integrator-wrapper .product-block .pb-left .smallest-text {
  margin-top: 1.475rem;
  max-width: 10.625rem;
  display: inline-block;
}
.integrator-wrapper .product-block .pb-right .product-item {
  padding: 0;
}
.integrator-wrapper .product-block .pb-right .product-item:first-child {
  border: 1px solid #323c47;
  border-radius: 5px;
}
.integrator-wrapper .product-block .pb-right .product-item:last-child {
  border-right: 1px solid #323c47;
}
.integrator-wrapper .product-block .pb-right .product-item .price {
  margin-top: 4.62rem;
}
.integrator-wrapper .product-block .pb-right .product-item .smallest-text {
  line-height: 1.25rem;
  padding: 0 2.8125rem;
}
.integrator-wrapper .product-block .pb-right .product-item ul {
  padding: 0 2.8125rem;
  direction: rtl;
  position: relative;
}
.integrator-wrapper .product-block .pb-right .product-item ul li {
  width: 100%;
  margin-bottom: 0.6875rem;
}
.integrator-wrapper .product-block .pb-right .product-item ul li:last-child {
  margin-bottom: 5rem;
}
.integrator-wrapper .product-block .pb-right .product-item ul li:before {
  content: "• ";
  color: #a6e42b;
  position: absolute;
  right: 2.8125rem;
  font-size: 1.5rem;
  line-height: 1.51rem;
}
.integrator-wrapper .product-block .pb-right .product-item ul li a {
  direction: ltr;
  unicode-bidi: embed;
  color: #989898;
  font-size: 0.875rem;
}
.integrator-wrapper .product-block .pb-right .product-item .int-btn {
  margin-bottom: 3.125rem;
}
.integrator-wrapper .product-block .pb-right .product-item .int-btn img {
  max-width: 0.6875rem;
  margin-right: 1rem;
}
.integrator-wrapper .faq-block {
  padding: 5.5rem 0;
  padding-bottom: 3.2rem;
}
.integrator-wrapper .faq-block h3 {
  margin-bottom: 3.4375rem;
}
.integrator-wrapper .faq-block .faq-items {
  border-bottom: 0.0625rem solid #323c47;
}
.integrator-wrapper .faq-block .faq-items:last-child {
  border-bottom: 0;
}
.integrator-wrapper .faq-block .faq-items .faq-item {
  padding: 1.5625rem 4.0625rem;
}
.integrator-wrapper .faq-block .faq-items .faq-item:first-child {
  border-right: 0.0625rem solid #323c47;
}
.integrator-wrapper .faq-block .faq-items .faq-item ul li.question span {
  color: #ff6d4a;
  font-size: 1.25rem;
}
.integrator-wrapper .faq-block .faq-items .faq-item ul li.question p {
  font-size: 1.25rem;
  font-family: "Maven Pro", sans-serif;
}
.integrator-wrapper .faq-block .faq-items .faq-item ul li.answer {
  color: #989898;
  font-size: 1rem;
}
.integrator-wrapper .faq-block .faq-items .faq-item ul li.answer span {
  color: #a6e42b;
  font-size: 1.25rem;
}
.integrator-wrapper .faq-block .faq-items .faq-item ul li span {
  margin-right: 1.25rem;
  float: left;
  font-size: 1.125rem;
}
.integrator-wrapper .faq-block .faq-items .faq-item ul li p {
  display: table;
}

/* content_scss Ends here */
