/* header_scss Starts here */
.integrator-wrapper .container-fluid {
  padding: 0 3.75rem;
}
.integrator-wrapper .navbar {
  color: #ffffff;
  padding: 1rem 0;
}
.integrator-wrapper .navbar.navbar-expand-lg {
  background: transparent !important;
}
.integrator-wrapper .navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}
.integrator-wrapper .navbar-light .navbar-nav .active > .nav-link,
.integrator-wrapper .navbar-light .navbar-nav .nav-link.active,
.integrator-wrapper .navbar-light .navbar-nav .nav-link.show,
.integrator-wrapper .navbar-light .navbar-nav .show > .nav-link {
  color: #ffd012;
}
.integrator-wrapper .navbar-light .navbar-nav .nav-link:focus,
.integrator-wrapper .navbar-light .navbar-nav .nav-link:hover {
  color: #ffd012;
}
.integrator-wrapper .navbar-brand {
  margin-right: 6rem;
}
@media (max-width: 61.99875rem) {
  .integrator-wrapper .navbar-brand {
    margin-right: 1rem;
  }
}
.integrator-wrapper .logo {
  max-width: 11.2rem;
}
.integrator-wrapper .navbar .oi {
  font-size: 1.5rem;
}
.integrator-wrapper .navbar .nav-item {
  margin-bottom: 0;
}

/* header_scss Ends here */
