.hubspot-wrapper {
  margin: 7rem 0 0 0;
}

.hubspot-wrapper .hubspot-container {
  max-width: 44.875rem;
  padding: 4.375rem 5.3125rem;
  background: #191c25;
  display: block;
  margin: auto;
}
.hubspot-wrapper p {
  margin-top: 1.25rem;
  margin-bottom: 1.4375rem;
}
.hubspot-wrapper #hubspotForm fieldset.form-columns-1 .hs-input {
  width: 100%;
  height: 3.25rem;
  border: 0.0625rem solid #282d36;
  border-radius: 0.3125rem;
  background: #0e121a;
  color: #989898;
  font-size: 1rem;
  padding-left: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.hubspot-wrapper #hubspotForm fieldset.form-columns-1 .input {
  margin-right: 0;
  display: flex;
  position: relative;
  color: #989898;
}
.hubspot-wrapper #hubspotForm fieldset.form-columns-2 .input {
  margin-right: 0;
  color: #989898;
}
.hubspot-wrapper #hubspotForm fieldset {
  max-width: unset;
}
.hubspot-wrapper #hubspotForm .hs_lastname.hs-lastname input {
  float: right;
}
.hubspot-wrapper #hubspotForm .hs-input {
  max-width: unset;
  width: 88%;
  height: 3.25rem;
  border: 0.0625rem solid #282d36;
  border-radius: 0.3125rem;
  background: #0e121a;
  color: #989898;
  font-size: 1rem;
  padding-left: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.hubspot-wrapper #hubspotForm label {
  display: none;
}
.integrator-wrapper #hubspotForm .inputs-list label {
  display: block;
}
.hubspot-wrapper #hubspotForm .inputs-list label input {
  width: 0.9375rem !important;
  float: left;
  height: 0.9375rem !important;
  margin-top: 0 !important;
  border: 0.0625rem solid #282d36 !important;
  background: #0e121a !important;
}
.hubspot-wrapper #hubspotForm .actions {
  padding: 0;
  margin-bottom: 0;
}
.hubspot-wrapper #hubspotForm .hs-form {
  margin-bottom: 0;
}
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  color: #fff !important;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
/* .hs-fieldtype-select .input*/
select::-ms-expand {
  display: none;
}
/* Arrow */
.hs-fieldtype-select .input::after {
  content: "";
  position: absolute;
  top: 1.125rem;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: transparent;
  pointer-events: none;
  background: url("../img/arrow-down.png");
  width: 1.125rem;
  height: 1.125rem;
  background-size: contain;
  background-repeat: no-repeat;
}
/* Transition */
.hs-fieldtype-select .input:hover::after {
  color: #f39c12;
}
.hs-fieldtype-select .input::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

/* Button */

.hubspot-wrapper #hubspotForm .hs-button {
  min-width: 10.3125rem;
  border-radius: 0.3125rem;
  height: 2.5rem;
  border: 0.0625rem solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 2.625rem;
  text-shadow: unset;
  background: #4da1ff;
  border-color: #4da1ff;
  background-image: unset;
  box-shadow: unset;
  transition: unset;
  display: block;
  margin: auto;
}
.hubspot-wrapper #hubspotForm .hs-button:hover {
  background: transparent;
  color: #4da1ff;
}
.legal-consent-container .hs-richtext {
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
}
/* ToolTip */
.hs-form-booleancheckbox label > span > span {
  float: left;
  color: #fff;
}
.tooltip1 {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-left: 10px;
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 15px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
}
.legal-consent-container {
  margin: -30px 0;
}
