.calender-wrapper {
  height: 42.25rem;
  width: 100%;
}
.calendar-block {
  margin-top: 7.7rem;
}
.calendar-block h3 {
  line-height: 2.8125rem;
}

.calendar-block .calender-wrapper .toolbar-container .tb-month {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.5rem;
}
.calendar-block .calender-wrapper .toolbar-container .tb-month .tb-Year {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #989898;
}
.calendar-block .calender-wrapper .toolbar-container .label-date,
.calendar-block .calender-wrapper .toolbar-container .back-next-buttons {
  float: left;
}
.calendar-block .calender-wrapper .toolbar-container .btn-calendar {
  background: transparent;
  color: #fff;
  border: 0.0625rem solid #333;
  border-radius: 0.25rem;
  margin-right: 0.3125rem;
  font-size: 0.8rem;
  padding: 0.3125rem;
  line-height: 0;
}
.calendar-block .calender-wrapper .toolbar-container .back-next-buttons {
  position: relative;
  top: 0.3125rem;
  left: 0.9375rem;
}
.rbc-header {
  background: #181b24;
  padding: 1.25rem;
  text-align: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-bottom: 0.0625rem solid #282d36;
}
.rbc-month-row {
  background: #12161f;
  overflow: visible;
}
.rbc-off-range-bg {
  background: transparent;
}
.rbc-off-range a {
  opacity: 0.3;
}
.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  color: #989898;
}
.rbc-month-view {
  border: 0;
  margin-top: 1.5625rem;
}
.rbc-header + .rbc-header {
  border-left: 0.0625rem solid #282d36;
}
.rbc-month-row + .rbc-month-row {
  border-top: 0.0625rem solid #282d36;
}
.rbc-day-bg + .rbc-day-bg {
  border-left: 0.0625rem solid #282d36;
}
.rbc-row-segment .rbc-event {
  background: red;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  padding: 0.1875rem 0.5625rem;
  position: relative;
  left: 0.625rem;
  top: -0.9375rem;
}
.rbc-date-cell {
  position: relative;
  top: 5.25rem;
}
.rbc-today {
  background-color: transparent;
}
/* .rbc-row-content {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: end;
} */
.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  overflow: visible;
}
.rbc-event .showme {
  display: none;
}
.rbc-event.rbc-selected .showme {
  display: block !important;
}
.rbc-event.rbc-selected .showme.register {
  min-width: 13.1rem;
  min-height: 13.125rem;
  border: 0.0625rem solid #4d5e66;
  border-radius: 0.25rem;
  background: #0e121a;
  position: absolute;
  left: 2.5rem;
  top: -0.1875rem;
  z-index: 9;
  padding: 0.9375rem 1.25rem;
  cursor: auto;
}
.rbc-row-content {
  z-index: unset;
}
.rbc-event .reg-title {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.rbc-event .reg-time span {
  color: #989898;
  position: relative;
  top: 0.0625rem;
  left: 0.3125rem;
  font-size: 0.875rem;
}
.border-line {
  height: 0.0625rem;
  width: 9.375rem;
  background: #282d36;
  margin-top: 1.0625rem;
}
.section-block {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1rem;
}
.section-block .section-title {
  color: #989898;
}
.section-block .section-details {
  color: #4da1ff;
}
.section-block .blue-button {
  margin-top: 0.8125rem;
}
