@media (max-width: 61.9375rem) {
  ul li {
    display: block;
  }
  .testimonial-block-content h1 {
    font-size: 2.625rem;
  }
}
@media (min-width: 48rem) and (max-width: 61.9375rem) {
  .integrator-wrapper .how-work-block .hwb-box {
    padding: 0.9375rem;
  }
  .integrator-wrapper .how-work-block .hwb-box p {
    padding-left: 0;
  }
}

@media (max-width: 47.9375rem) {
  .int-btn {
    width: 280px;
  }
  .integrator-wrapper .cretificate-box-block .card .card-body ul li {
    display: block;
  }
  .integrator-wrapper
    .cretificate-box-block
    .cretificate-box-right.card
    .card-body {
    padding: 0rem 1rem;
  }
  .integrator-wrapper .how-work-block .hwb-box img {
    display: block;
    margin: auto;
  }
  .integrator-wrapper .how-work-block .hwb-box h4 {
    text-align: center;
  }
  .hubspot-wrapper .hubspot-container {
    padding: 4.375rem 2.313rem;
  }
  .hubspot-wrapper #hubspotForm .hs-input {
    width: 84%;
  }
  .integrator-wrapper footer .crt-box-block {
    padding: 2.1875rem 1.313rem;
    margin-bottom: 7rem;
  }
}
@media (min-width: 36rem) and (max-width: 47.9375rem) {
  .integrator-wrapper .faq-block .faq-items .faq-item {
    padding: 1.5625rem 1.063rem;
  }
  .text-right {
    text-align: left !important;
  }
}
@media (max-width: 35.9375rem) {
  .integrator-wrapper .footer-wrapper {
    padding: 4.0625rem 1.063rem;
  }
  .text-right {
    text-align: left !important;
  }
}
@media (max-width: 30rem) {
  .hubspot-wrapper #hubspotForm fieldset.form-columns-2 .input {
    display: flex;
  }
  .hubspot-wrapper #hubspotForm .hs-input {
    width: 100%;
  }
}
