/* typography_scss Starts here */
body {
  color: #ffffff;
}

.small-text {
  font-size: 1rem;
  color: #989898;
}
@media (max-width: 61.99875rem) {
  .small-text {
    padding: 0 1rem;
  }
}

.smallest-text {
  font-size: 0.875rem;
  color: #989898;
}
@media (max-width: 61.99875rem) {
  .smallest-text {
    padding: 0 1rem;
  }
}

h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 3.75rem;
}
@media (max-width: 61.99875rem) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
@media (max-width: 61.99875rem) {
  h2 {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.875rem;
  font-weight: 700;
}
@media (max-width: 61.99875rem) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
}
@media (max-width: 61.99875rem) {
  h4 {
    font-size: 1.25rem;
  }
}

/* typography_scss Ends here */
/* General_scss Starts here */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i&_cacheOverride=1532588729827");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700&_cacheOverride=1532588729829");
@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600,700&_cacheOverride=1532588729830");

body {
  background: #0e121a;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
  float: left;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
@media (max-width: 61.99875rem) {
  ul li {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.logo-b {
  padding-bottom: 1.6rem;
  padding-top: 1.9rem;
}
.logo-b img {
  max-width: 6.875rem;
}

.int-btn {
  min-width: 10.3125rem;
  border-radius: 0.3125rem;
  height: 2.5rem;
  border: 0.0625rem solid;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 2.625rem;
}
@media (max-width: 61.99875rem) {
  .int-btn {
    margin-top: 0.625rem;
  }
}
.int-btn.blue-btn {
  background: #4da1ff;
  border-color: #4da1ff;
}
.int-btn.blue-btn:hover {
  background: transparent;
  color: #4da1ff;
}
.int-btn.green-btn {
  background: #a6e42b;
  border-color: #a6e42b;
}
.int-btn.green-btn:hover {
  background: transparent;
  color: #a6e42b;
}

.card {
  background: #191c25;
}

.same-height {
  display: flex;
  flex-wrap: wrap;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
/* General_scss Ends here */
