.integrator-wrapper .testimonial-block .tab-content {
  position: relative;
}
.integrator-wrapper .testimonial-block .testimonial-block-content {
  position: absolute;
  padding: 4rem;
  background: #191c25cc;
  top: 0;
  bottom: 0;
}
@media (max-width: 61.99875rem) {
  .integrator-wrapper .testimonial-block .testimonial-block-content {
    position: relative;
  }
}
.integrator-wrapper .testimonial-block .testimonial-block-content h1 {
  font-size: 2.625rem;
  margin-bottom: 1.8rem;
}
.integrator-wrapper .testimonial-block .tstml-name {
  color: #ffd012;
  font-size: 1.125rem;
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.integrator-wrapper .testimonial-block .tstml-pos {
  color: #e6d6ff;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: italic;
}
.integrator-wrapper .testimonial-block .testimonial-block-content .tstml-logo {
  max-width: 3.75rem;
  margin-top: 1rem;
}
.integrator-wrapper .testimonial-nav-block {
  position: relative;
}
.integrator-wrapper .testimonial-nav-block .nav-tabs {
  border-bottom: 0;
}
.integrator-wrapper .testimonial-nav-block .nav-tabs .nav-link {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
  opacity: 0.5;
  color: #ffffff;
  font-weight: 800;
  padding: 2.7rem 0;
  cursor: pointer;
}
.integrator-wrapper .testimonial-nav-block .nav-tabs .nav-link .arrow-down {
  display: none;
}
.integrator-wrapper .testimonial-nav-block .nav-tabs .nav-link.active,
.integrator-wrapper .testimonial-nav-block .nav-tabs .nav-link:hover {
  background: transparent;
  opacity: 1;
  color: #ffffff;
}
.integrator-wrapper
  .testimonial-nav-block
  .nav-tabs
  .nav-link.active
  .arrow-down {
  width: 0;
  height: 0;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  border-top: 0.625rem solid #b1b1b3;
  display: block;
  position: absolute;
  top: 0;
  margin: auto;
  left: 45%;
}
.integrator-wrapper .tstml-name {
  margin-top: 0.6rem;
  margin-bottom: 0;
}
.integrator-wrapper .tstml-pos {
  font-weight: 300;
  font-size: 0.875rem;
}
.testimonial-block .accordion__title {
  background-color: #191c25;
  color: #fff;
  display: inline-block;
  transition-delay: 0.5s;
}
.testimonial-block .accordion__title[aria-selected="true"] {
  border-right: 2px solid #ffce49;
}

.testimonial-block .accordion__title:hover,
.testimonial-block .accordion__title:focus {
  background-color: #191c25;
  outline: none;
}
.testimonial-block .accordion__title img {
  float: left;
  margin-right: 20px;
}
.accordion {
  padding: 0 15px;
}
.testimonial-block .accordion h1 {
  font-size: 2rem;
}
.testimonial-block .accordion img {
  max-width: 50px;
}
