/* footer_scss Starts here */
.integrator-wrapper .footer-wrapper {
  background: #0a0d12;
  padding: 4.0625rem 9.0625rem;
}
.integrator-wrapper footer .footer-wrapper ul li {
  width: 100%;
}
.integrator-wrapper footer .footer-wrapper ul li a {
  color: #ffffff;
  transition-delay: 0.2s;
}
.integrator-wrapper footer .footer-wrapper ul li a:hover {
  color: #ffd012;
  text-decoration: none;
}
.integrator-wrapper footer .footer-wrapper p {
  color: #989898;
  line-height: 1.75rem;
  margin-top: 1.1rem;
  max-width: 32.1875rem;
}
.integrator-wrapper footer .crt-box-block {
  padding: 2.1875rem 5.3125rem;
  margin-bottom: 7rem;
}
.integrator-wrapper footer .crt-box-block.card .card-body .small-text {
  padding: 0;
}
.integrator-wrapper footer .crt-box-block.card .card-body p {
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.integrator-wrapper footer .crt-box-block.card .card-body .int-btn {
  margin-top: auto;
}
/* footer_scss Ends here */
